version: '2.4'

services:
  mysql:
    image: mysql:8.0
    container_name: desserbee-mysql
    mem_limit: 256m
    environment:
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
      MYSQL_DATABASE: dessertbee_prod
      MYSQL_USER: ${MYSQL_USER}
      MYSQL_PASSWORD: ${MYSQL_PASSWORD}
    volumes:
      - mysql-data:/var/lib/mysql
    command:
      - --character-set-server=utf8mb4
      - --collation-server=utf8mb4_unicode_ci
      - --max_connections=100
    healthcheck:
      test: [ "CMD", "mysqladmin", "ping", "-h", "localhost", "-u", "root", "-p${MYSQL_ROOT_PASSWORD}" ]
      interval: 10s
      timeout: 5s
      retries: 5
    restart: always
    networks:
      - app-network

  app:
    image: ${DOCKERHUB_USERNAME}/desserbee:latest
    container_name: desserbee-app
    mem_limit: 448m
    volumes:
      - /home/ec2-user/secrets/AuthKey_apple_login.p8:/app/resources/AuthKey_apple_login.p8
    environment:
      - JAVA_TOOL_OPTIONS=-Xms128m -Xmx256m -XX:MaxMetaspaceSize=256m -XX:+UseSerialGC
      - APPLE_KEY_PATH=/app/resources/AuthKey_apple_login.p8
      - APPLE_KEY_ID=${APPLE_KEY_ID}
      - APPLE_TEAM_ID=${APPLE_TEAM_ID}
      - APPLE_CLIENT_ID=${APPLE_CLIENT_ID}
      - SPRING_PROFILES_ACTIVE=${SPRING_PROFILES_ACTIVE:-prod}
      - SPRING_DATA_REDIS_HOST=redis
      - SPRING_DATA_REDIS_PORT=6379
    env_file:
      - .env
    depends_on:
      - redis
    restart: always
    networks:
      - app-network

  nginx:
    image: nginx:latest
    container_name: desserbee-nginx
    mem_limit: 64m
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./nginx/conf:/etc/nginx/conf.d
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf
      - /etc/letsencrypt:/etc/letsencrypt:ro # 호스트의 인증서를 읽기 전용으로 마운트
      - /var/www/certbot:/var/www/certbot:ro # certbot webroot 마운트
    depends_on:
      - app
    restart: always
    networks:
      - app-network

  redis:
    image: redis:7.0
    container_name: desserbee-redis
    mem_limit: 80m
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 10s
      timeout: 5s
      retries: 5
    restart: always
    networks:
      - app-network
    volumes:
      - redis-data:/data
    command:
      [
        "redis-server",
        "--appendonly", "no",
        "--maxmemory", "64mb",
        "--maxmemory-policy", "allkeys-lru"
      ]

networks:
  app-network:
    driver: bridge

volumes:
  redis-data:
  mysql-data: